{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-1">
    <div class="card">
        <div class="card-header">
            <h3>Importar Ordens de Produção do ERP</h3>
        </div>
        <div class="card-body">
            <p>Selecione a data a partir da qual você deseja buscar por novas Ordens de Produção no sistema ERP para iniciar o controle de fluxo.</p>
            
            <div class="col-md-5 col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3">
                        <i class="fas fa-search"></i> Importar OPs
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
