{% load humanize %}

<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead class="table-light">
            <tr>
                <th>Item</th>
                <th>Cor Final</th>
                <th>OP</th>
                <th class="text-end">Qtd. Produção</th>
                <th class="text-end">Preço Venda</th>
                <th class="text-end">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens_pedido %}
            <tr>
                <td>{{ item.ordem_producao.artigo }}/{{ item.ordem_producao.tamanho }}</td>
                <td>{{ item.cor_final }}</td>
                <td>{{ item.ordem_producao.numero_op }}</td>
                <td class="text-end">{{ item.quantidade_producao|floatformat:2|intcomma }}</td>
                <td class="text-end">R$ {{ item.preco_venda|floatformat:2|intcomma }}</td>
                <td class="text-end">R$ {{ item.valor_total_item|floatformat:2|intcomma }}</td>
            </tr>
            {% if item.observacao_item_pedido %}
            <tr class="table-info">
                <td colspan="6" class="small text-muted p-1 px-2">
                    <strong>Obs. do Item:</strong> {{ item.observacao_item_pedido }}
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhum item encontrado para este pedido.</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-dark">
                <th colspan="5" class="text-end">VALOR TOTAL DO PEDIDO</th>
                <th class="text-end">R$ {{ valor_total_pedido|floatformat:2|intcomma }}</th>
            </tr>
        </tfoot>
    </table>
</div>