{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'global/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/css/barra_lateral.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/css/estilo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'global/fontawesome/css/all.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<title>{% block title %}  {% endblock %}</title>
{% block extra_head %}  {% endblock %}