{% extends "global/base.html" %}

{% block title %}Lista de Representantes{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Gerenciamento de Representantes</h2>
        <a href="{% url 'sisven_users:representante_create' %}" class="btn btn-primary">
            <i class="fas fa-plus me-2"></i> Novo Representante
        </a>
    </div>

    <!-- Formulário de Busca -->
    <div class="card shadow-sm mb-2">
        <div class="card-body">
            <form method="get" class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="search_name" class="visually-hidden">Nome</label>
                    <input type="text" class="form-control" name="search_name" id="search_name" placeholder="Pesquisar por nome..." value="{{ request.GET.search_name }}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="table-responsive">
            <table class="table table-striped table-sm table-hover mb-0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Código Legado</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rep in representantes %}
                    <tr>
                        <td>{{ rep.nome }}</td>
                        <td>{{ rep.login }}</td>
                        <td>{{ rep.codigo }}</td>
                        <td>{{ rep.status }}</td>
                        <td>
                            <a href="{% url 'sisven_users:representante_update' rep.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum representante encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% include "global/partials/_pagination.html" %}
</div>
{% endblock %}